:root {
  --bs-primary: #001f3f;
}

.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.btn-primary:hover {
  background-color: #001a35 !important;
  border-color: #001a35 !important;
}

.text-primary {
  color: var(--bs-primary) !important;
}

.border-primary {
  border-color: var(--bs-primary) !important;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

.nav-hover {
font-size: 1.2rem;
padding: 8px 24px;
border-radius: 8px;
transition: background-color 0.3s ease;
margin: 0 50px;
}

.nav-hover:hover {
background-color: rgba(255, 255, 255, 0.2);
}

.active-page {
background-color: rgba(255, 255, 255, 0.3);
pointer-events: none;
}


.nav-hover {
font-size: 1.2rem;
padding: 8px 24px;
border-radius: 8px;
transition: background-color 0.3s ease;
margin: 0 10px;
}

.nav-hover:hover {
background-color: rgba(255, 255, 255, 0.2);
}

.active-page {
background-color: rgba(255, 255, 255, 0.3);
pointer-events: none;
}

.na{
  margin-top: 100px;
}

footer {
  font-size: 0.9rem;
}



html, body, #root {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
